.main {
  padding: 1.5rem max(1.5rem, calc((100vw - var(--max-width)) / 2));
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.modalContent {
  border-radius: 1rem;
}

.modal {
  padding: 0;
}
